<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 全局logo -->
    <!-- <link rel="icon" type="image/x-icon" href="./logo/yushen.png" /> -->
    <title>我是臧小川</title>
    <!-- 引入 REM 布局 -->
    <script src="REM.js" type="text/javascript"></script>
    <script src="projectconfig.js" type="text/javascript"></script>

</head>

<body>
</body>

</html>